main {
  min-height: 80vh;
}

/* Header css */
.header-space {
  padding-right: 0.3rem;
}

/* Rating */
h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.link {
  text-decoration: none;
}

/* Cart Screen */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}